<div ng-app="friendsApp">

<p id="notice"><%= notice %></p>

<input ng-model="query" placeholder="Add someone"  />

<div ng-controller="MainCtrl" ng-init="init('<%= @krindle.id %>')" class="row">
	<div class="small-4 columns">
		<div ng-repeat="friend in friends | filter:query | orderBy:name">
			<div class="panel">
				<img src="{{friend.picture.data.url}}"/>
				<p class="right clearfix">{{friend.name}}</p>
				<p><a href="" ng-click="addToKindle(friend)" class="button success small">Add</a></p>
			</div>
		</div>
	</div>
	<div class="small-4 columns">

		<div ng-repeat="friend in friendsInKindle">
			<div class="panel">
				<img src="{{friend.picture.data.url}}"/>
				<p class="right">{{friend.name}}</p>
				<p><a href="" ng-click="removeFromKindle(friend)" class="button alert small">Remove</a></p>
			</div>
		</div>
		
		<div ng-show="hasFriends">
			<a href="" ng-click="saveToKindle('<%= @krindle.id %>')" class="button small success">Save</a>
		</div>
	</div>
	
</div>


<%= link_to 'Edit', edit_krindle_path(@krindle) %> |
<%= link_to 'Back', krindles_path %>
</div>