<p id="notice"><%= notice %></p>


	<% for person in @people_list -%>
		<div class="friend clearfix panel">
			<%= image_tag(person['photo'], class: "left") %>
				<p><%= person['name'] %></p>
		</div>
	<% end -%>


<%= link_to 'Edit', edit_krindle_path(@krindle) %> |
<%= link_to 'Back', krindles_path %>
